#menu ul li {
	position: absolute;
	float: left;
	margin: 0;
	padding: 0;
}

#menu ul li: hover {
	background: #00aebd;
}

#menu ul ul {
	display: none;
	position: absolute;
	top: 100%
	left: 0;
	background: #eee;
	padding: 0;
}

#menu ul ul li {
	float: none;
	width: 150px;
}

#menu ul ul a {
	line-height: 120%;
	padding: 10px 15px;
}

#menu ul li hover > ul {
	display: block;
}

